.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgb(172, 161, 172);
}
.product-container{
    background-color: rgb(96, 142, 183);
}
.cart-container{
    background-color: rgb(72, 157, 126);
}