.product {
    width: 300px;
    height: 640px;
    background-color: aliceblue;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    /* color: white; */
    position: relative;
}

.product img {
    height: 286px;
    width: 286px;
    padding: 7px;
    background: url(ezgif.png);
    border-radius: 8px;
}

.product h6 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding-left: 14px;
    color: #0E161A;
    margin-bottom: 5px;
}

.product-info {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    padding-left: 14px;
    color: #0E161A;
    margin-top: 0px;
}

.btn-cart {
    width:100%;
    background: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
}